<% layout('../layout/templateLTE') %>
<% block('titulo1', "Cliente") -%>

<% block('script',"") -%>
<% block('titulo2', "Lista") -%>

<form action="/cliente/buscar" method="post">
    <input type="text" value="<%=buscar%>"  name="buscar">
    <input type="submit" value="buscar">
    <input type="submit" name="pdf" value="pdf">
</form>
<table class="table">
    <tr>
        <th>cliente</th>
        <th>Nit/ci</th>
   </tr>
   <% for(i=0;i<listacliente.length;i++){%>
   <tr >
       
       <td><%= listacliente[i].cliente%> </td>
       <td><%= listacliente[i].nit%> </td>
   </tr>
   <% } %>
   
   </tr>
</table>
<div class="card-footer clearfix">
    <ul class="pagination pagination-sm m-0 float-right">
        <% if(actualpage!=1){%>
        <li class="page-item"><a class="page-link" href="?page=<%= Number(actualpage)-1 %>&limit=<%=limit%>">«</a></li>
        <%}%>
           <% for(i=1;i<=totalpage;i++){
               if(i==actualpage){
                %>
                
                <li class="page-item"><a class="page-link" ><%=i%></a></li>
                <%}else{%>
                     <li class="page-item"><a class="page-link" href="?page=<%=i%>&limit=<%=limit%>"><%=i%></a></li>
                <%}%>
           <% }%>
           <% if(actualpage!=totalpage){%>
            <li class="page-item"><a class="page-link" href="?page=<%= Number(actualpage)+1 %>&limit=<%=limit%>">»</a></li>
            <%}%>
           
 </ul>
</div>
<%=actualpage%>/<%=totalpage%>



